# OTUS-DE
hw4_pyspark/data/*
!hw4_pyspark/data/.gitkeep
hw4_pyspark/output

# Future HW folder
hw2_airflow
hw3_nifi
hw5_dbt_datavault
hw6_metabase_bi

# Jupyter Notebook
.ipynb_checkpoints

# Log files
*.log

# Python
__pycache__