# OTUS-DE
hw4_pyspark/data/*
!hw4_pyspark/data/.gitkeep
hw4_pyspark/output



hw8_model_production/reports/*.csv
!hw8_model_production/data/.gitkeep

# Future HW folder
hw2_airflow
hw3_nifi
hw5_dbt_datavault
hw6_metabase_bi

# Jupyter Notebook
.ipynb_checkpoints

# Log files
*.log

# Python
__pycache__

# Pycharm
.idea

# VS Code
.vscode/

# Mac OS-specific storage files
.DS_Store

# Credentials
.env